<div class="menu-container">
    <div class="menu">
        <h1 class="header">
            Kayatovsky
        </h1>
        <div>
            <a style="color: #E8D5B5" href="http://localhost:3000">
                MAIN
            </a>
            <a href="http://localhost:3000/about">
                ABOUT ME
            </a>
            <a href="http://localhost:3000/projects">
                PROJECTS
            </a>
            <a href="http://localhost:3000/links">
                LINKS
            </a>
        </div>
    </div>
</div>
<div class="content">
    <div class="avatar">
        <img src='images/avatar.jpg'>
    </div>
    <div class="main-text-container">
        <p class="main-text">
            Hello everyone,
            this is my portfolio website!
        </p>
    </div>
</div>
