<div class="menu-container">
    <div class="menu">
        <h1 class="header">Kayatovsky</h1>
        <div>
            <a class="link" href="http://localhost:3000">
                MAIN
            </a>
            <a class="link" href="http://localhost:3000/about">
                ABOUT ME
            </a>
            <a class="link" href="http://localhost:3000/projects">
                PROJECTS
            </a>
            <a class="link" style="color: #E8D5B5" href="http://localhost:3000/links">
                LINKS
            </a>
        </div>
    </div>
</div>
<div class="content">
    <div class="main-text-container">
        <p class="main-text">
            Thanks for reading, also you can find me in:
        </p>
    </div>
    <div class="links-container">
        <a href="https://github.com/kayatovsky">
            <img class="image" src='images/github.png'>
        </a>
        <a href="https://vk.com/kayatovsky">
            <img class="image" src='images/vk.png'>
        </a>
        <a href="https://www.instagram.com/kayatovsky_">
            <img class="image" src='images/instagram.png'>
        </a>
    </div>
</div>