<div class="menu-container">
    <div class="menu">
        <h1 class="header">Kayatovsky</h1>
        <div>
            <a class="routes" href="http://localhost:3000">
                MAIN
            </a>
            <a class="routes" href="http://localhost:3000/about">
                ABOUT ME
            </a>
            <a class="routes" style="color: #E8D5B5" href="http://localhost:3000/projects">
                PROJECTS
            </a>
            <a class="routes" href="http://localhost:3000/links">
                LINKS
            </a>
        </div>
    </div>
</div>
<div class="content">
    <div class="project-container">
        <a class="link" href="https://apps.apple.com/app/id1591933670">
            <img class="image" src='images/gtobase.png'>
        </a>
        <p class="common-text">
            GTOBase is a mobile application for calculating optimal poker strategies
        </p>
    </div>
    <div class="project-container">
        <a class="link" href="https://msk-city.com/">
            <img class="image" src='images/socity.png'>
        </a>
        <p class="common-text">
            Online concierge for residents of Moscow City
        </p>
    </div>
    <div class="project-container">
        <img class="image" src='images/kazakh.png'>
        <p class="common-text">
            Corporate application for fuel and lubricants consumption report
        </p>
    </div>
    <div class="project-container">
        <img class="image" src='images/vostok.png'>
        <p class="common-text">
            Corporate application for reporting on repair orders for telecommunications stations
        </p>
    </div>
</div>