body {
    padding: 40px 60px 60px;
    font: 14px Helvetica, "Lucida Grande", Arial, sans-serif;
    background-color: #342F45;
}

a {
    color: #FFFADE;
    font-size: 18px;
    font-weight: bold;
    margin-left: 60px;
    animation-duration: 0.5s;
    animation-name: fade-in;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    opacity: 0;

    animation-fill-mode: forwards;
    transition: color 0.5s;
    text-decoration: none;
}

a:hover {
    color: #E8D5B5;
}

.menu {
    height: 60px;
    display: flex;
    width: 100%;
    border-radius: 30px;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    background-color: #9382EB;
    animation-duration: 1s;
    animation-name: fade-in-menu;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
}

.menu-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    margin: 200px 15%;
    display: flex;
    justify-content: center;
}

.header {
    font-size: 22px;
    font-weight: bold;
    color: #FFFADE;
    animation-duration: 0.5s;
    animation-name: fade-in;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transition: color 0.5s;

}
.header:hover {
    color: #E8D5B5;
}

.main-text {
    font-size: 60px;
    font-weight: bold;
    color: #FFFADE;

}

.main-text-container {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    animation-duration: 0.7s;
    animation-name: fade-in-main-text;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    /*border: 1px solid red;*/
}

.avatar {
    height: 300px;
    display: flex;
    width: 300px;
    margin-right: 10%;
    animation-duration: 0.7s;
    animation-name: fade-in-main-text;
    animation-delay: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    border-radius: 150px;
    overflow: hidden;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-in-menu {
    from {
        width: 30px;
    }

    to {
        width: 100%;
    }
}

@keyframes fade-in-main-text {
    from {
        opacity: 0;
        margin-top: 60px;
    }

    to {
        opacity: 1;
        margin-top: 0;
    }
}
